<div class="container mt-3 pt-2">
  <p class="text-justify my-1 mt-1">
    As the largest HBCU, North Carolina A&T State University leads
     the nation in awarding undergraduate and graduate engineering degrees
      to African Americans and is also the top producer of African-American female
       engineers at the undergraduate level. To enhance students’ preparation for entering an
        increasingly completive future workforce, the Education Outreach component of this project plans
         to address some of the existing disconnects between highly specialized disciplines through: (1) identifying
          a selected number of universities that have successfully established a STEM-Behavioral-Social Science connection, (2) identifying
           suitable curricular connections between disciplines at NC A&T State, Purdue, and Georgia Tech, (3) proposing/offering appropriate
            courses, seminars, or workshops to enhance the STEM degree programs, and (4) identifying/promoting cross-disciplinary team-teaching. Based
             on the published research and scholarly studies, the existing educational gaps between the humanities/social sciences, STEM, and engineering
              limit students from obtaining a well-rounded education. Thus, through the Education Outreach component, we intend to empower and broaden
               students’ global perspective and their fundamental knowledge
     about communication and ethics, social media, entrepreneurship, mobility, and other suitable topics. 
  </p>
</div><!-- Jumbotron -->

<div class="container my-1 py-1"> 

  <!--Grid row-->
  <div class="row">


    


    <!--Grid column-->
    <div class="col-md-6 mb-4 mb-md-0">

        <!--Image-->
        <div class="view overlay people">
          <img src="https://bloximages.newyork1.vip.townnews.com/greensboro.com/content/tncms/assets/v3/editorial/1/60/160f6af4-b01d-5ed3-a992-19745f73ae0f/5af7655767d01.image.jpg?resize=1200%2C907" class="img-fluid"
            alt="">
          
        </div>

      </div>
      <!--Grid column-->

      <div class="col-md-6 mb-4 mb-md-0">

        <!--Image-->
        <div class="view overlay people">
          <img src="https://bloximages.newyork1.vip.townnews.com/greensboro.com/content/tncms/assets/v3/editorial/7/86/786717d7-999a-5826-b99c-9c1bedaedc7d/5af76559f0d7c.image.jpg?resize=1200%2C800" class="img-fluid"
            alt="">
          
        </div>

      </div>

    
    

  </div>
  <!--Grid row-->





<!--Section: Content-->
</div>


<div class="container text-left my-1">
  <h1 class="font-weight-bold my-0 my-1">1. Education</h1>
</div>


<div class="container my-1 py-1">
 
 
  <!--Section: Content-->
 

    <!--Grid row-->
    

      
      <!--Grid column-->
      <div class="container">
        <h4 class="font-weight-bold text-center">1.1. Communications and Ethics Program
        </h4>
        <p class="text-justify">
          Closely tied with communication law, ethics is a fundamental responsibility
           in decision-making and developing mutually beneficial relationships with various constituents of
            a given organization. This ULI-funded program will enhance the student’s ability to effectively communicate
             with a target audience (in both writing and speaking), which is an essential skill. 
          A two-day workshop offered during the ULI annual meetings will expose students and faculty
           to a broad set of topics in communications and ethics. 
        </p>

      </div>
       
      
      

      <div class="container">
        <h4 class="font-weight-bold text-center">1.2. Student Mobility Program
        </h4> 
        <p class="text-justify">
          This program will fund short-term visits by NC A&T, Purdue, and Georgia Tech. graduate students
           to visit the partner institutions throughout the year to collaborate in research tasks,
            share research results and ideas and write joint papers. One unique aspect of this program is 
            that students will engage faculty from partner institutions as thesis/dissertation committee members
             or co-chairs. This opportunity will be also extended to industry partners and government labs, especially
              NASA Centers and NIA. ULI will also foster the existing NC A&T’s weekly seminar series to allow graduate
           students, industry partners, and representatives from government organizations and academia to share their knowledge and collaborate.
        </p>
      </div>

      
      <div class="container">
        <h4 class="font-weight-bold text-center">1.3. Entrepreneurship Program
        </h4> 
        <p class="text-justify">
          This program will provide the students with an opportunity to learn about entrepreneurship
           through a workshop that dovetails with the various research projects between faculty and student
            cohorts from partner universities. ULI funding, leveraged by other sources, will sponsor
             this workshop (available to at least 20 students each time) to be offered twice each year via online or classroom
              settings. Enrollment will be open to all partner universities. Students enrolled in this workshop will actively engage in collaborative
               learning approaches and gain a greater sense of appreciation for, and understanding of, teamwork, planning, strategic thinking, 
          and implementation. They will be also broadly exposed to ethical, legal, and 
          communication aspects of working in a business environment. 
        </p>
      </div>

      <div class="container">
        <h4 class="font-weight-bold text-center">1.4. Course Sharing Program
        </h4> 
        <p class="text-justify">
          Select graduate/undergraduate-level courses will be available as online special
           topic courses to students at the partnering universities. Additional courses will be added
            as they are developed and shared by each originating university through synchronous/asynchronous video,
             web-based, and other formats. The content and administrative details for each course will be determined by
           a professor at a given member university or co-developed and administrated by multiple professors from partnering universities.
        </p>
      </div>

      <!--Section: Content-->
      <div class="container mt-1 py-1">
        <!--Image-->
        <div class="view overlay">
         <img src="assets/images/course.jpg" class="img-fluid tcmid"
           alt="">
         
       </div>
       
       
       </div>
   

     

      
</div>
    



<div class="container text-left my-1">
  <h1 class="font-weight-bold">2. Outreach</h1>
  <p class="text-justify">
    The FIRST LEGO League program, funded by the COE at NC A&T, has been instrumental in providing fun 
    and educational global robotics programs to ignite enthusiasm for discovery of science in the Title 1 
    students of Guilford County. The program also hosts annual competitions to showcase the progress and collaborations
     of students. This ULI project will leverage
     this program and provide middle and high school teacher workshops, focusing on autonomy-related activities that support the K-12 Standards. 

  </p>

  <div class="container">
    <h4 class="font-weight-bold text-center">2.1. Minority-Serving Institutions (MSI) Outreach
    </h4> 
    <p class="text-justify">
      To support our mission of impacting minority-serving institutions, we will conduct
       a three-day summer workshop at NC A&T. We will work with the IEC (Inclusive Engineering Consortium)
        to reach a broad audience. Faculty members from minority serving institutions will be 
      invited to present their and their students’ work, engage in an exchange of ideas, and tour facilities and laboratories. 
    </p>
  </div>

  <div class="container">
    <h4 class="font-weight-bold text-center">2.2. NASA Indiana Space Grant Consortium (INSGC)
    </h4> 
    <p class="text-justify">
      The INSGC, hosted at Purdue, has already committed to four project elements for the 2020-24 program period (beginning May 9, 2020)
       that are synergistic with the research and outreach programs emphasized in this proposal.In their (approved) proposal, INSGC emphasized 
       a commitment to target NASA Internship 
      and Fellowship funds to campus-based summer research internships for students from non-Indiana minority-serving institutions.
       A second commitment is to directly support undergraduate students in hands-on, campus-based summer research internships
        aligned with ongoing faculty and NASA mission-related project research. In addition, INSGC has committed to a project emphasis
       on coordinated student project partnership programs with other consortia in the National 
       Space Grant College and Fellowship Program. 
    </p>
  </div>

  <div class="container">
    <h4 class="font-weight-bold text-center">2.3. The Innovative Mars Exploration Education & Technology (IMEET)
    </h4> 
    <p class="text-justify">
      This program is a two-week collaborative summer day camp offered at three
       Georgia Space Grant Consortium (GSGC) affiliate locations across
        Georgia (Georgia Tech., the Coca-Cola Space Science Center at Columbus State University, and the Museum of Aviation) where
         high school and two-year technical college students work together in teams to design and
       manufacture collaborative components of ground and aerial robots
        with a mission to assist operations on Mars exploration missions. 
    </p>
  </div>


  <div class="container my-1 py-1"> 

    <!--Grid row-->
    <div class="row">


      


      <!--Grid column-->
      <div class="col-md-4 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay outreach">
            <img src="assets/images/k12.png" class="img-fluid"
              alt="">
            
          </div>

        </div>
        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay outreach">
            <img src="assets/images/imeet.png" class="img-fluid"
              alt="">
            
          </div>

        </div>



        <div class="col-md-4 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay outreach">
            <img src="assets/images/msi.png" class="img-fluid"
              alt="">
            
          </div>

        </div>

      
      

    </div>
    <!--Grid row-->




  
  <!--Section: Content-->


  
</div>


</div>


<div class="container my-2 py-2">
<div class="row">

<div class="col-md-6 mb-3 mb-md-0">
  <h1 class="font-weight-bold">3. Opportunities</h1>
  This program will be able to bring about
  <ul>
<li>7 Educational and outreach programs and accommodate</li>
<li>Multiple transition opportunities to industry and government labs</li>

<li>1.5 Postdoctoral researchers</li>
<li>24 Ph. D. & M. S. Students</li>
<li>20 Undergraduate students</li>
<li>50 Summer camp K-12 teachers and students</li>

  </ul>
</div>
<div class="col-md-6 mb-3 mb-md-0">
<div class="container view overlay stor">
 
  <img src="https://bloximages.newyork1.vip.townnews.com/greensboro.com/content/tncms/assets/v3/editorial/6/87/68771292-bd8e-11e2-aebb-001a4bcf6878/5193d5c30995a.image.jpg" class="img-fluid"
    alt="">
  </div>
</div>
</div>
</div>
