<div class="container-fluid">
    <div class="over">
        <div class="row">
            <div class="col-lg-7 overview">
                <h1>Overview</h1>
                <p class="overview">An unmanned systems future will see the integration of a wide variety of Unmanned Aerial Systems (UAS), personal air 
                    vehicles, Urban Air Mobility (UAM) vehicles, and cargo and special mission aircraft into the NAS. These developments can 
                    leverage UAS TrafficManagement (UTM) advancements for the unique requirements of UAM airspace management.</p>
            </div>
            <div class="col-lg-5">
                <img src="assets/images/overview.png" alt="Overview">
            </div>
    
        </div>
    </div>
    </div>
        
            
        
        
    
            <div class="talk">
                <div class="container">
                    <div class="row">
                    
                       <div class="col-md-4">
                        <h1>Our Team</h1>
                        <p>Our ULI team brings together a diverse interdisciplinary team of experts
                             from three US universities−North Carolina Agricultural and Technical State University (NC A&T), 
                             Georgia Institute of Technology (Georgia Tech.), and Purdue University (Purdue)−along with four US industry 
                             partners−Aurora Flight Sciences (Aurora), Alaka’i Technologies Corporation (Alaka’i), General Atomics Aeronautical
                              Systems (GA-ASI), and Northrop Grumman Corporation
                             (NGC)−to actively explore transition opportunities of the research and products to industry and government.</p>
                    
                       </div>
                       <div class="col-md-4">
                    <h1>Our Goal</h1>
                    <p>Our primary goal is to development of new technologies and innovative operational concepts to ensure safe, secure and robust integration of autonomous vehicles into a UAMtailored transportation infrastructure while maintaining compliance with existing commercial and
                        civil air transportation safety standards.
                    
                    </p>
                    </div>
                    <div class="col-md-4">
                    <h1>Our Vision</h1>
                    
                        Scale the developed algorithms to accommodate the air vehicle traffic in urban areas 
                        (small and large cities) envisioned for 2050 with: 
                        <ul>
                            <li>cluttered obstacles</li>
                            <li>system responsiveness contained below 1x timescale of real time events</li>
                            <li>Detection of severe cyber-physical activities with less than 10% system load, and</li>
                            <li>systems integrated for different testing environments (i.e., SIM, IFF, and OFF)</li>
                        </ul>
                    
                
                    </div>
                    </div>
                    
                    
                    
                        </div>
    
            </div>
        
        