








<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">

  <!-- Navbar brand -->
  

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="https://nari.arc.nasa.gov/uli">
          <img class="img-fluid nasa" src="assets/images/newnasauli.png" height="30" alt="mdb logo">
        </a>
      </li>


    </ul>
    <!-- Links -->

    <a class="navbar-brand" href="https://www.ncat.edu/">
      <img class="img-fluid" src="assets/images/ant_good.png" height="30" alt="mdb logo">
    </a>
  
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->



<!--Navbar-->
<nav class="navbar navbar-expand-lg darken-4 navbar-dark mb-3 py-3 blue">

  

  <!-- Collapse button -->
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <!-- Links -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" mdbWavesEffect routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>


      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle stretched-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" mdbWavesEffect routerLink="/researchome">Research</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" mdbWavesEffect  routerLink="/tc1">TC1</a>
          <a class="dropdown-item" mdbWavesEffect  routerLink="/tc2">TC2</a>
          <a class="dropdown-item" mdbWavesEffect  routerLink="/tc3">TC3</a>
          <a class="dropdown-item" mdbWavesEffect  routerLink="/tc4">TC4</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect routerLink="/education">Education & Outreach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect routerLink="/partners">Partners</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle stretched-link" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" mdbWavesEffect routerLink="/teams">Teams</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          
          <a class="dropdown-item" mdbWavesEffect routerLink="/people">Research Team</a>
                  <a class="dropdown-item" mdbWavesEffect routerLink="/scientific">Scientific Advisory Board</a>
                  
                 
                  <a class="dropdown-item" mdbWavesEffect routerLink="/industry">Industry Advisory Board</a>
                 
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect routerLink="/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" mdbWavesEffect routerLink="/contact">Contact Us</a>
      </li>

    </ul>
    <!-- Links -->

   
  </div>
  <!-- Collapsible content -->

</nav>


<!--/.Navbar-->
<!--Navbar-->
<!--Navbar-->




