<!-- Footer -->
<div class="container-fluid">
<footer class="page-footer font-small  lighten-3 pt-4 footer">

  <div class="container-fluid text-center pt-2">
    <!-- Footer Elements -->
    
    
    <div class="container-fluid pt-2">
      

      <div class="row">

      
        <div class="col-sm-2 mb-1 pb-1">Academic Partners</div>
        <div class="col-sm-2">
         
          <a href="https://www.ncat.edu/"> <img src="assets/images/Ant_logo.png" class="img-fluid align" alt="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <div class="col-sm-2">
         
          <a href="https://www.gatech.edu/"> <img src="assets/images/georgia_logo.png" class="img-fluid align " alt=""> 
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <div class="col-sm-2">
         
          <a href="https://www.purdue.edu/"> <img src="assets/images/pufinal.png" class="img-fluid align" alt=""> 
            <div class="mask rgba-white-light"></div>
          </a>
        </div>



      </div>


      <div class="row">

        <div class="col-sm-2">Industry Partners</div>

        <div class="col-sm-2">
         
          <a href="https://www.aurora.aero/"> <img src="assets/images/Aurora_boeing.png" class="img-fluid align" alt="">
            <div class="mask rgba-white-light"></div>
          </a> 
        </div>
        <div class="col-sm-2">
        
          <a href="https://www.skai.co/">  <img src="assets/images/skai_black.png" class="img-fluid align" alt="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <div class="col-sm-2">
         
          <a href="https://www.northropgrumman.com/"> <img src="assets/images/northrop.png" class="img-fluid align" alt="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        <div class="col-sm-2">
          
          <a href="https://www.ga.com/">  <img src="assets/images/atomics.png" class="img-fluid specific" alt="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

        


      </div>
      
    

    </div>



    
  
    <!-- Copyright -->
    <div class="footer-copyright text-center mt-1 py-3">Powered by Angular | © 2020 Copyright | Web Design by Daniel Blankson and Shamila Nateghi,Ph.D.
     
    </div>
    <!-- Copyright -->
      
      </div>
  </footer>
  <!-- Footer -->
</div>
