<!-- Jumbotron -->
<div class="jumbotron text-center jumbo">

   
  
    <!-- Card image -->
    <div class="my-4">
      <img src="assets/images/overview.png" class="img-fluid" alt="">
      <h3 class="font-weight-bold text-center">System architecture, illustrating the interconnections and data flow between TCs</h3>
    </div>
  
    
  
  </div>
  <!-- Jumbotron -->


  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold text-center">Research Objectives and Overall Strategy</h3>

          <p class="text-muted">The proposed research will address the following four Technical Challenges (TCs) and will 
            provide unique UAM solutions and a transition roadmap for industry/government to utilize resulting products
            <ul>
              <li>TC1: Safe Perception, Coordination, Planning, and Navigation</li>
              <li>TC2: Secured Autonomy</li>
              <li>TC3: Verification & Validation (V&V) and Test & Evaluation (T&E)</li>
              <li>TC4: System Integration</li>
            </ul>
            
           

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>


  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">TC1: Safe Perception, Coordination, Planning, and Navigation</h3>

          <p class="text-muted">will develop computationally effective and scalable sensing, 
              perception, coordination, planning, and learning-based control techniques, to provide a safe and scalable UAM network. </p>

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="assets/images/tc1.png" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">TC2: Secured Autonomy</h3>

          <p class="text-muted">will address (Objective I) Mathematical Modeling of UAM and Cyberattack, (Objective II)
               Cyberattack Analysis, Detection, and Risk Management, (Objective III) AI-driven Cyberattack Monitoring.</p>

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">
            <h3 class="font-weight-bold">TC3: Verification & Validation (V&V) and Test & Evaluation (T&E)</h3>

          <p class="text-muted">:
           

             will develop V&V procedures to provide provable guarantees of correctness of the UAM software
             and support certification of the developed technologies through T&E. (II) will verify
              algorithms developed in TC1 and TC2, and provid Verification & Validation formal framework to analyze results of tests in TC4.  </p>

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>

  <div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">TC4: System Integration</h3>

          <p class="text-muted"> plays the critical role of evaluation and 
              system-level experimentation, serving as the centerpiece of the
               iteration and continuous refinement with TCs 1-3 via: (I) Computational system analysis via M&S, (II) Flight experiments at increasing size and sophistication, (III) interface design 
              with industry transition partners, (IV) Continuous assessment of emerging mission requirements</p>

          

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://mdbootstrap.com/img/Photos/Others/img%20(29).jpg" class="img-fluid"
              alt="">
            <a href="#">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>