.people{
    height: 300px;
    max-width: 100%;
}
.head{
    text-align: center;
    margin-top: 35px;
}
.headi{
    text-align: center;
}
.special{
    height: 100px;
    max-width: 80%;
}
.heading{
    color: red;
}
.arrow1{
margin-top: 60px;
color:#4285f4 ;
}
.arrow2{
    margin-left: 150px;
    color:#4285f4 ;
}
.example1{
    border: 3px solid #4285f4;
    padding: 15px;
    position: absolute;
    top: 260px;
    left: 20px;
}
.space{
    margin-bottom: 0px !important;
}
.fon{
    font-size: 16px;
}
p,ul li{
    font-size: 16px;
}
.space{
    position: relative;
  top: 0;
  left: 0;
}
.pos{
    position: relative;
  top: 0;
  left: 0;
}
.arrow3{
    position: absolute;
    top: 160px;
    left: 170px;
    color:#4285f4 ;
}
.example2{
    border: 3px solid #4285f4;
    padding: 25px;
    font-size:10px;
}
p,ul li{
    text-align: justify;
}
.jumbo{
    margin-right: 150px;
    margin-left: 150px;
}