<div class="container z-depth-1">
   <div class="container my-3 py-3 text-left">
    <h1 class="font-weight-bold">Research Faculty Team</h1>
   </div>
  

   <div class="container my-3 py-3">
   
   
          <!--Section: Content-->
         
      
            <!--Grid row-->
            <div class="row">
      
              <!--Grid column-->
              <div class="col-md-4 mb-4 mb-md-0">
      
                  <!--Image-->
                  <div class="view overlay">
                    <img src="https://engineering.purdue.edu/ResourceDB/ResourceFiles/image233930" class="img-fluid people"
                      alt="">
                    <a href="https://engineering.purdue.edu/AIMS" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                  </div>
        
                </div>
                <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-8 mb-4 mb-md-0">
      
                  <h3 class="font-weight-bold">Shaoshuai Mou, PhD</h3>
                  <h5 class="font-weight-bold"> Assistant Professor, School of Aeronautics and Astronautics, Purdue University, (Co-PI)</h5>
        
                  <p>
                      <ul>
                          <li>Collaboration with Industry especially with Northrop Grumman 
                            Corporation as well as NASA, AFRL and NSF for real-world engineering applications.</li>
                          
                  
                      </ul>
                      <a href="https://engineering.purdue.edu/AIMS" target="_blank">Read More
                        <div class="mask rgba-white-light"></div>
                      </a>
                
      
              </div>
              <!--Grid column-->
      
              
      
            </div>
            <!--Grid row-->
      
      
        
          <!--Section: Content-->
  
         
      
      
        </div>
  
  
       
  
        <div class="container my-3 py-3">
   
   
          <!--Section: Content-->
         
      
            <!--Grid row-->
            <div class="row">
      
              <!--Grid column-->
              <div class="col-md-4 mb-4 mb-md-0">
      
                  <!--Image-->
                  <div class="view overlay">
                    <img src="assets/images/team_members/mahmoud.jpg" class="img-fluid people"
                      alt="">
                    <a href="http://mahmoudnabil.github.io/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                  </div>
        
                </div>
                <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-8 mb-4 mb-md-0">
      
                  <h3 class="font-weight-bold">M. Nabil Mahmoud, PhD</h3>
                  <h5 class="font-weight-bold"> Assistant Professor, NC A&T, (Co-PI)</h5>
        
                  <p>
                      <ul>
                         
                  
                      </ul>
                      <a href="http://mahmoudnabil.github.io/" target="_blank">Read More
                        <div class="mask rgba-white-light"></div>
                      </a>
                
      
              </div>
              <!--Grid column-->
      
              
      
            </div>
            <!--Grid row-->
      
      
         
          <!--Section: Content-->
  
          
      
      
        </div>
  
       
  
        <div class="container my-3 py-3">
   
   
          <!--Section: Content-->
         
      
            <!--Grid row-->
            <div class="row">
      
              <!--Grid column-->
              <div class="col-md-4 mb-4 mb-md-0">
      
                  <!--Image-->
                  <div class="view overlay">
                    <img src="assets/images/team_members/Judy_Hoffman.jpg" class="img-fluid people"
                      alt="">
                    <a href="https://www.cc.gatech.edu/~judy" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                  </div>
        
                </div>
                <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-8 mb-4 mb-md-0">
      
                  <h3 class="font-weight-bold">Judy Hoffman, PhD</h3>
                  <h5 class="font-weight-bold"> Assistant Professor, Georgia Institute of Technology, (Co-PI)</h5>
        
                  <p>
                      <ul>
                          <li>Former Research Scientist,Facebook AI Research</li>

                          <li>Assistant Professor, School of Interactive Computing at Georgia Tech.</li>
                               <li>PhD from UC Berkeley,2016 in Electrical Enginering and Computer Science </li>
                               <li>Postdoctoral Researcher,UC Berkeley</li>
                               <li>Receipient,NSF Graduate Fellowship and Rosalie M. Stern Fellowship</li>
                      </ul>
                      <a href="https://www.cc.gatech.edu/~judy" target="_blank">Read More
                        <div class="mask rgba-white-light"></div>
                      </a>
                
      
              </div>
              <!--Grid column-->
      
              
      
            </div>
            <!--Grid row-->
      
      
          
          <!--Section: Content-->
  
          
      
      
        </div>
  
        <div class="container my-3 py-3">
   
   
          <!--Section: Content-->
         
      
            <!--Grid row-->
            <div class="row">
      
              <!--Grid column-->
              <div class="col-md-4 mb-4 mb-md-0">
      
                  <!--Image-->
                  <div class="view overlay">
                    <img src="https://faculty.uml.edu/Ioannis_Raptis/Ioannis-Raptis.jpg" class="img-fluid people"
                      alt="">
                    <a href="http://ioannisraptis.info/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                  </div>
        
                </div>
                <!--Grid column-->
      
              <!--Grid column-->
              <div class="col-md-8 mb-4 mb-md-0">
      
                  <h3 class="font-weight-bold">Ioannis A. Raptis, PhD</h3>
                  <h5 class="font-weight-bold"> Assistant Professor, NC A&T, (Co-PI)</h5>
        
                  <p>
                      <ul>
                          
                  
                      </ul>
      
                      <a href="http://ioannisraptis.info/" target="_blank">Read More
                        <div class="mask rgba-white-light"></div>
                      </a>
      
              </div>
              <!--Grid column-->
      
              
      
            </div>
            <!--Grid row-->
      
      
         
          <!--Section: Content-->
  
          
      
      
        </div>

        <div class="container my-3 py-3">
   
   
            <!--Section: Content-->
           
        
              <!--Grid row-->
              <div class="row">
        
                <!--Grid column-->
                <div class="col-md-4 mb-4 mb-md-0">
        
                    <!--Image-->
                    <div class="view overlay">
                      <img src="https://nebula.wsimg.com/3779d032cf09e8b157a3769e0b513a04?AccessKeyId=0E46333AF6BDCE67C45F&disposition=0&alloworigin=1" class="img-fluid people"
                        alt="">
                     
                        <div class="mask rgba-white-light"></div>
                    
                    </div>
          
                  </div>
                  <!--Grid column-->
        
                <!--Grid column-->
                <div class="col-md-8 mb-4 mb-md-0">
        
                    <h3 class="font-weight-bold">Yahya Kamalipour, PhD</h3>
                    <h5 class="font-weight-bold"> Professor, NC A&T, (Co-PI)</h5>
          
                    <p>
                        <ul>
                            <li>Founding director,Global Media Journals Network
                          
                            </li>

                            <li>Global communication, mass media, journalism, and mass communication.</li>
                            <li>President,Global Communication Association.</li>
                    
                        </ul>
        
                  
        
                </div>
                <!--Grid column-->
        
                
        
              </div>
              <!--Grid row-->
        
        
            
            <!--Section: Content-->
    
            
        
        
          </div>
        </div>  
  
  

  
    
  
  
  
    
