<h1 class="font-weight-bold head">Contact Us</h1>


<div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay cont">
              <img src="assets/images/team_members/homaifar1.jpg" class="img-fluid people"
                alt="">
              <a href="https://www.ncat.edu/employee-bio.php?directoryID=430387136">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">
           

          <h3 class="font-weight-bold">Abdollah (Ebbie) Homaifar, PhD</h3>
         

          <p>
              <ul>

                <li>NASA Langley Distinguished Chair Professor</li>
                  <li>Duke Energy Eminent Professor</li>
                  <li>Director, Autonomous Control and Information Technology (ACIT) Institute</li>
                  <li>Director, Testing, Evaluation, and Control of Heterogeneous Large-Scale Systems of Autonomous Vehicles (TECHLAV)</li>
                  <li>Cell:336-549-1518</li>
                  <li>Office: 336-285-3709</li>
                  <li>Lab: 336-285-3271</li>
                  <li>Fax: 336-334-7716</li>
              </ul>
                  
                
              
              <a href="http://techlav.ncat.edu/">
               View Website     
              </a>

          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
