<!-- Jumbotron -->
<div class="container mx-auto">
<div class="container my-3 py-3">
 
 
  <!--Section: Content-->
 


   
  <!--Grid row-->
  <div class="row">


    <!--Grid column-->
    <div class="col-md-7 mb-4 mb-md-0">

     
        <h4 class="font-weight-bold">Research Objectives and Overall Strategy</h4>
        <p class="text-justify">Secure and Safe Assured Autonomy will address the following four Technical Challenges (TCs) and will provide
           unique Urban Air Mobility (UAM) solutions and a transition roadmap for industry/government to utilize resulting products</p>
        <p>
            <ul fon>
                <li><a routerLink="/tc1">TC1:Safe Perception, Coordination, Planning, and Navigation
      
                </a>

              </li>

                
                  <li><a routerLink="/tc2">TC2:Secured Autonomy
        
                  </a>
              
                
                  <li><a routerLink="/tc3">TC3:Verification & Validation (V&V) and Test & Evaluation (T&E)
        
                  </a>

              </li>
                
                  <li><a routerLink="/tc4">TC4:System Integration
        
                  </a>
                </li>
               
            </ul>

        

      </div>
      <!--Grid column-->

      


    <!--Grid column-->
    <div class="col-md-5 mb-4 mb-md-0">

        <!--Image-->
        <div class="view overlay cont">
          <img src="assets/images/tchome.png" class="img-fluid people"
            alt="">
          
        </div>

      </div>
      <!--Grid column-->

    
    

  </div>
  <!--Grid row-->

  

</div>
<!-- Jumbotron -->








<div class="container view overlay my-2">
  <h4 class="my-3 font-weight-bold text-center">System architecture, illustrating the interconnections and data flow between TCs</h4>
  <img src="assets/images/overview.png" class="img-fluid"
    alt="">
    
</div>


</div>
