


<div class="container my-5 py-5 z-depth-1">
 
 
  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      

      <!--Grid column-->
      <div class="col-md-12 mb-4 mb-md-0">
        <h1 class="font-weight-bold text-center">NASA ARMD - UNIVERSITY LEADERSHIP INITIATIVE (ULI)</h1>
        

        <p class="text-justify">

          The University Leadership Initiative (ULI) was introduced in 2015 by the Aeronautics
          Research Mission Directorate of the National Aeronautics and Space Administration (NASA ARMD). 
          Put simply, this initiative invites different American universities to join forces with various industry colleagues, study 
          the latest advancements in industry and come up with new proposals of their own as a means of advancing the technology even further, 
          along with a desired plan and schedule to accomplish such goals. If awarded,  the universities will be offered a respectable grant which will go 
          towards fullfilling the set of goals first proposed. This program thus manages to (1) bring industry and academia much closer together thus indicating
           the intertwined nature of these two mammoths (2) offer a much smoother transition for any student whether undergraduate or graduate from academia to 
           industry and (3) result in technological advances that will manage to profit both the developers and the future consumers of the final product.                                                                                                                                               This initiative, in particular, seeks new, 
         innovative ideas that can support the NASA ARMD portfolio and the U.S. aviation community. 
         Our team with a strong existing track record of collaboration with NASA and deep knowledge of 
         NASA ARMD’s objectives, will develop research products and technologies for safe and secure autonomy that will be
          transitioned to NASA and industry. By the project’s end, we will have made significant contributions to the following ARMD objectives: 
          ARMD Mega-Driver 1: Global Growth in Demand for High Speed Mobility, NASA ARMD Strategic Research Thrust 6: Assured Autonomy for Aviation 
          Transportation. Our developments will particularly contribute to NASA ARMD Strategic Goal 3, in particular, Performance Goal 3.2.1 (by advancing 
          decision-making ability for improving UTM under TC1), Performance Goal 3.2.5 (by addressing safety and security issues of future aviation systems under TC2), and 
          Performance Goal 3.2.6
          (by development and validation of advanced autonomy technologies under TCs 3 and 4).


        </p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="https://nari.arc.nasa.gov/uli" target="_blank" role="button">Read More</a>
        </p> 

        

      </div>
      <!--Grid column-->

      

    </div>
    <!--Grid row-->


  </section>
  <!--Section: Content-->
</div>


<h1 class="font-weight-bold head">Academic Partners</h1>

<div class="container my-5 py-5 z-depth-1">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay cont">
              <img src="assets/images/ant_good.png" class="img-fluid people"
                alt="">
              
                <div class="mask rgba-white-light"></div>
              
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-7 mb-4 mb-md-0">

         
          

          <p class="text-muted">
              <ul>
                  <li><a href="http://techlav.ncat.edu/" target="_blank">Abdollah Homaifar (PI, TC3 Lead, TC4 member)
                    <div class="mask rgba-white-light"></div>
                  </a></li>
                  <li><a href="https://www.accesslab.net/people/ali-karimoddini" target="_blank">Ali Karimoddini (Campus Co-PI, TC1 Lead, TC3 member)
                    <div class="mask rgba-white-light"></div>
                  </a></li>
                 <li><a href="https://www.ncat.edu/employee-bio.php?directoryID=1448486561" target="_blank">John Kelly (Co-PI, Education & Outreach Lead)
                  <div class="mask rgba-white-light"></div>
                </a></li>
                 <li><a href="https://www.ncat.edu/employee-bio.php?directoryID=1580278227" target="_blank">Yahya Kamalipour (Co-PI)
                  <div class="mask rgba-white-light"></div>
                </a></li>
                 <li><a href="https://mahmoudnabil.github.io/" target="_blank">M. Nabil Mahmoud (Co-PI, TC2 member)
                  <div class="mask rgba-white-light"></div>
                </a></li>
                 <li><a href="http://ioannisraptis.info/" target="_blank">Ioannis A. Raptis (Co-PI, TC1 member)
                  <div class="mask rgba-white-light"></div>
                </a></li>
              </ul>

          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
  </div>


    <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/georgia_logo.png" class="img-fluid people"
                    alt="">
                  
                    <div class="mask rgba-white-light"></div>
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
                
              
      
                <p class="text-muted">
                    <ul>
                        <li><a href="https://ae.gatech.edu/people/mark-francis-costello" target="_blank">Mark Costello (Campus Co-PI, TC4 Co-Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://www.coogan.ece.gatech.edu" target="_blank">Sam Coogan (Co-PI)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://ae.gatech.edu/people/kyriakos-g-vamvoudakis-0" target="_blank">Kyriakos G. Vamvoudakis (Co-PI, TC1 Co-Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://www.cc.gatech.edu/~judy" target="_blank">Judy Hoffman (Co-PI, TC1 member)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        
                    </ul>
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
         
    
        </section>
        <!--Section: Content-->
    
    
      </div>


      <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/purdue_logo.png" class="img-fluid people"
                    alt="">
                  
                    <div class="mask rgba-white-light"></div>
              
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
                
      
                <p class="text-muted">
                    <ul>
                <h5 class="font-weight-bold"> </h5>
                        <li><a href="https://engineering.purdue.edu/AAE/people/ptProfile?resource_id=1429" target="_blank">Dan DeLaurentis (Campus Co-PI, TC4 Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://engineering.purdue.edu/~ihwang/" target="_blank">Inseok Hwang (Co-PI, TC2 Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://web.ics.purdue.edu/~dsun/" target="_blank">Dengfeng Sun (Co-PI, TC2 Co-Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://engineering.purdue.edu/AAE/people/Faculty/ptProfile?resource_id=37293" target="_blank">James Goppert (Co-PI, Education & Outreach Co-Lead)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                        <li><a href="https://engineering.purdue.edu/AIMS" target="_blank">Shaoshuai Mou (Co-PI)
                          <div class="mask rgba-white-light"></div>
                        </a></li>
                       
                
                    </ul>
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
        
    
      </div>

      <h1 class="font-weight-bold head">Industry Partners</h1>

      
      <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/Aurora_boeing.png" class="img-fluid people"
                    alt="">
                    <a href="https://www.aurora.aero/innovation/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                   
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
               
      
                <p class="text-muted">
                    <ul>
                        <li>James Paduano</li>
                        <li>Seyed Mehran Dibaji</li>
                       
                
                    </ul>
    
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->

        
    
    
      </div>




      <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/skai_blue.png" class="img-fluid people"
                    alt="">
                    <a href="https://www.skai.co/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                   
                
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
                
            
      
                <p class="text-muted">
                    <ul>
                        <li>Bruce J. Holmes</li>
                        
                
                    </ul>
    
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->

        
    
    
      </div>









      <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/northrop.png" class="img-fluid people"
                    alt="">
                    <a href="https://www.northropgrumman.com/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                   
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
               
      
                <p class="text-muted">
                    <ul>
                        <li>Neta Ezer</li>
                       
                
                    </ul>
    
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->

        
    
    
      </div>


      <div class="container my-5 py-5 z-depth-1">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-5 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay">
                  <img src="assets/images/atomics.png" class="img-fluid people"
                    alt="">
                    <a href="https://www.ga.com/" target="_blank">
                      <div class="mask rgba-white-light"></div>
                    </a>
                   
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-7 mb-4 mb-md-0">
    
      
                <p class="text-muted">
                    <ul>
                        <li>Damon Jenkins</li>
                       
                
                    </ul>
    
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->

        
    
    
      </div>

      


      
 
       
    
    
    
      


  

  



  
