

 <h1 class="font-weight-bold text-center my-3">NEWS</h1>
<div class="container my-2 py-3 z-depth-1">

  
  <div class="container my-2 py-3">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
        
      

      
          <div class="row">

            <p class="text-justify">
             <strong class="font-weight-bold">12/11/2020</strong> Dr. Judy Hoffman  discussed the spectrum of dataset and model bias ranging 
             from inadvertent visual changes to adversarially manipulated images. She then covered techniques for bias mitigation, including
              domain adversarial learning, which facilitates transfer of information between different visual environments and across different
               semantic tasks thereby enabling recognition models to generalize to previously unseen worlds, such as from simulated to
                real-world driving imagery. Finally, she touched on the pervasiveness of dataset bias
              and how this bias can adversely affect underrepresented subpopulations
              
             <p><a href="assets/slides/judy_abstract.pdf" download="judy_abs"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
              &nbsp;&nbsp;
              
            </p>
             

               
          </div>

      <!--Grid row-->
      <div class="row">
          
  
  
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <!--Image-->
          <div class="container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/mcuC2aEC9IA"  
              frameborder="0" allowfullscreen> 
            </iframe>
          </div>
            
  
          </div>
          <!--Grid column-->
      </div>
        
        

    
      <!--Grid row-->


        

    
      <!--Grid row-->


    </section>
    <!--Section: Content-->
    </div>


    <div class="container my-2 py-3">
 
 
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
          
        
  
        
            <div class="row">
  
              <p class="text-justify">
               <strong class="font-weight-bold">12/04/2020</strong> Dr. Nicolas Norboge provided an overview of transportation funding modeling in the era of COVID for the 
               near term, but also long-term impacts such as those associated with connected and automated vehicles.

               
               
               <p><a href="assets/slides/nicolas_abstract.pdf" download="nic_abs"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
                &nbsp;&nbsp;
                <a href="assets/slides/nicolas_ppt.pptx" download="nic_present"><button class="btn"><i class="fa fa-download"></i> Slides</button></a>
              </p>
                 
            </div>
  
        <!--Grid row-->
        <div class="row">
            
    
    
          <!--Grid column-->
          <div class="col-md-8 mb-4 mb-md-0">
  
              <!--Image-->
            <div class="container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/L6whHC_grVo"  
                frameborder="0" allowfullscreen> 
              </iframe>
            </div>
              
    
            </div>
            <!--Grid column-->
        </div>
          
          
  
      
        <!--Grid row-->
  
  
          
  
      
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
      </div>

      

      <div class="container my-2 py-3">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
            
          
    
          
              <div class="row">
    
                <p class="text-justify">
                 <strong class="font-weight-bold">11/20/2020</strong> Dr. Cynthia Rudin presented several stories that provide interesting lessons 
                 for modern design of models, the ways we 
                 look into them, and sacrifices we might need to make when we try to look at high dimensional data    
                 <p><a href="assets/slides/cynthia_abstract.pdf" download="cynthia_abs"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
                  &nbsp;&nbsp;
                  <a href="assets/slides/cynthia_ppt.pdf" download="cynthia_present"><button class="btn"><i class="fa fa-download"></i> Slides</button></a>
                </p>
                 
    
                   
              </div>
    
          <!--Grid row-->
          <div class="row">
              
      
      
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <!--Image-->
              <div class="container">
                  <iframe class="responsive-iframe" src="https://www.youtube.com/embed/jxiI32fX6co"  
                  frameborder="0" allowfullscreen> 
                </iframe>
              </div>
                
      
              </div>
              <!--Grid column-->
          </div>
            
            
    
        
          <!--Grid row-->
    
    
            
    
        
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
        </div>
    







  <div class="container my-2 py-3">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
        
      

      
          <div class="row">

            <p class="text-justify">
             <strong class="font-weight-bold">11/13/2020</strong> Dr. Bates gave
             a brief overview of a novel active-learning technique for fault diagnosis of a partially-known system modeled as a
             finite-state Discrete Event System (DES). The proposed technique first tabularly gathers information from a
             diagnosis tool, termed diagnoser, constructed from the available information of the known part of the system. An
             active-learning technique is then executed to iteratively capture information regarding the unknown portion of the
             system to construct the remaining part of the diagnoser. The final constructed diagnoser is ultimately able to detect
             and identify occurred faults through the examination of the observable behavior of the system. In order to display
             the details of this method, we have applied this method to a real-world case study concerning the Boeing 737-MAX
             and the implementation of the Maneuvering Characteristics Augmentation System (MCAS).
             <p><a href="assets/slides/wendell_abstract.pdf" download="bates_slides"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
              &nbsp;&nbsp;
              <a href="assets/slides/bates_present.pdf" download="wendell_presentation"><button class="btn"><i class="fa fa-download"></i> Slides</button></a>
            </p>
             

          </div>

       <!--Grid row-->
       <div class="row">
              
      
      
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <!--Image-->
          <div class="container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/uKRnIswnnQQ"  
              frameborder="0" allowfullscreen> 
            </iframe>
          </div>
            
  
          </div>
          <!--Grid column-->
      </div>
        

    
      <!--Grid row-->


    </section>
    <!--Section: Content-->
    </div>




  <div class="container my-2 py-3">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
        
      

      
          <div class="row">

            <p class="text-justify">
             <strong class="font-weight-bold">11/06/2020</strong> Mr. Navarro gave a brief overview of a time-critical cooperative
              framework for autonomous mobility of a
             fleet of heterogeneous vehicles operating in challenging scenarios. Multi-agent motion planning in cluttered
             scenarios is a challenging and resource intensive problem. To mitigate this, he reexamined the backbone of
             path-planning algorithms, the proximity queries that determine whether a path is collision free; leveraged
             silhouette information from nearby obstacles to expedite solutions through narrow passages; and smoothened
             the resulting solution to meet desired continuity and differentiability requirements. He introduced a non-linear path-following algorithm with guaranteed performance bounds 
             for the execution of the smooth 4D trajectories.
             <p><a href="assets/slides/javier_abstract.pdf" download="javier_slides"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
             
             
            </p>
             

               
          </div>

      <!--Grid row-->
      <div class="row">
          
  
  
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <!--Image-->
          <div class="container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/GyYVBDolLgk"  
              frameborder="0" allowfullscreen> 
            </iframe>
          </div>
            
  
          </div>
          <!--Grid column-->
      </div>
        
        

    
      <!--Grid row-->


        

    
      <!--Grid row-->


    </section>
    <!--Section: Content-->
    </div>




   

  <div class="container my-2 py-3">
 
 
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
        
      

      
          <div class="row">

            <p class="text-justify">
             <strong class="font-weight-bold">10/30/2020</strong>  Dr. Chase  discussed the
             concepts and standards under development in Connected Traffic Signals, descriptions of pilot deployments around the US, and introduced sample data
             for researchers interested in exploring this field. Connected Traffic Signals are just one component of Connected and
             Autonomous Vehicle systems; however, they are at a critical juncture between manufacturers of Autonomous Vehicles
             and infrastructure maintaining agencies like Departments of Transportation.
              
             
            
             <p><a href="assets/slides/chase_abstract.pdf" download="chase_abstract"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
             
             
            </p>
          
          </div>

       <!--Grid row-->
       <div class="row">
          
  
  
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <!--Image-->
          <div class="container">
              <iframe class="responsive-iframe" src="https://www.youtube.com/embed/qb4b9fPssjM"  
              frameborder="0" allowfullscreen> 
            </iframe>
          </div>
            
  
          </div>
          <!--Grid column-->
      </div>
        
        

    
      <!--Grid row-->


    </section>
    <!--Section: Content-->
    </div>










    <div class="container my-2 py-3">
 
 
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-lg-left dark-grey-text">
          
        
  
        
            <div class="row">
  
              <p class="text-justify">
               <strong class="font-weight-bold">10/16/2020</strong>  Dr. Ezer presented the challenges and opportunities for HMT across civilian and military operations.
               Examples included identifying anomalous vessel behaviors in a maritime environment, supevisory control of swarms of unmanned vehcles and adaptive human-AI 
               interactions based on wearable sensors.
               <p><a href="assets/slides/netaslides.pdf" download="slides"><button class="btn"><i class="fa fa-download"></i> Presentation</button></a>
               
               
              </p>
               

                 
            </div>
  
         <!--Grid row-->
        <div class="row">
          
  
  
          <!--Grid column-->
          <div class="col-md-8 mb-4 mb-md-0">
  
              <!--Image-->
            <div class="container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/3ExbhrydKZs"
                frameborder="0" allowfullscreen> 
              </iframe>
            </div>
              
    
            </div>
            <!--Grid column-->
        </div>
          
  
      
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
      </div>









    <div class="container my-2 py-3">
 
 
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
          
        
  
      
            <div class="row">
  
              <p class="text-justify">
               <strong class="font-weight-bold">10/09/2020</strong>  Dr. Brian German presented recent research focused 
               on the conceptual design, analysis and operations of electric takeoff and landing (eVTOL)
               aircraft for urban air mobility (UAM). Specific topics include the development of a battery model
                appropriate for aircraft sizing and an investigation of the flight 
               performance of canonical eVTOL aircraft configurations.
               <p><a href="assets/slides/briangerman.pdf" download="briangerman"><button class="btn"><i class="fa fa-download"></i> Abstract</button></a>
                    
              
               
              </p> 
            </div>
  
         <!--Grid row-->
        <div class="row">
          
  
  
          <!--Grid column-->
          <div class="col-md-8 mb-4 mb-md-0">
  
              <!--Image-->
            <div class="container">
                <iframe class="responsive-iframe" src="https://www.youtube.com/embed/4XLa-xHMeT0"
                frameborder="0" allowfullscreen>
              </iframe>
            </div>
              
    
            </div>
            <!--Grid column-->
        </div>
          
  
      
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
      </div>



      <div class="container my-2 py-3">
 
 
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            
          <!--Grid row-->
          <div class="row">
            
    
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <!--Image-->
                
      
              </div>
              <!--Grid column-->
          </div>
    
          <br>
              <div class="row">
    
                <p class="text-justify">
                 <strong class="font-weight-bold">10/02/2020</strong>  Dr. Bruce J Holmes, CTO of Alaka’i Technologies Company and
                 a member of Technical Challenge 4 of S2A2 talked about "eVTOL Air Vehicles – The Killer App for Hydrogen?" at
                  Student Leadership Council and Faculty of ACIT Institute and TECHLAV Center at N.C. A&T  
                  <p>  <a href="assets/slides/holmes.pptx" download="holmes.pptx"><button class="btn"><i class="fa fa-download"></i> Presentation</button></a>
                    
                </p> 
              </div>
    
           
            
    
        
          <!--Grid row-->
    
    
        </section>
        <!--Section: Content-->
        </div>











    <div class="container my-2 py-3">
 
 
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
          
        <!--Grid row-->
        <div class="row">
          <h3 class="font-weight-bold">N.C. A&T-LED RESEARCH TEAM
              AWARDED $8M NASA GRANT TO DEVELOP AIR PASSENGER TAXIS </h3>
  
  
          <!--Grid column-->
          <div class="col-md-8 mb-4 mb-md-0">
  
              <!--Image-->
              <div class="view overlay">
                <img src="assets/images/news1.png" class="img-fluid people"
                  alt="">
                <a href="https://www.ncat.edu/news/2020/04/nasa-awards-grant-to-develop-air-taxies.php">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>
    
            </div>
            <!--Grid column-->
        </div>
  
        <br>
            <div class="row">
  
              <p class="text-justify">
               <strong class="font-weight-bold">04/14/2020</strong>  The first Historically Black College or University (HBCU) to 
                  lead a project for the agency’s University Leadership Initiative <a href="https://www.ncat.edu/news/2020/04/nasa-awards-grant-to-develop-air-taxies.php">
                     
                   <button>Read more</button></a>
              </p> 
            </div>
  
         
          
  
      
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
      </div>
  
</div>