<div class="container z-depth-1">
  <div class="container my-3 py-3 text-left">
   <h1 class="font-weight-bold">Research Team</h1>
  </div>


<div class="container my-3 py-3">
 
 
    <!--Section: Content-->
    

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay people">
              <img src="assets/images/team_members/homaifar1.jpg" class="img-fluid people"
                alt="">
              <a href="http://techlav.ncat.edu/" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Abdollah (Ebbie) Homaifar, Ph.D.</h3>
          <h5 class="font-weight-bold">Professor, N.C. A&T State University, (PI, TC3 Lead, TC4 member)</h5>

          <p class="text-muted">
              <ul>
                  <li>NASA Langley Distinguished Chair Professor</li>
                  <li>Duke Energy Eminent Professor</li>
                  <li>Director, Autonomous Control and Information Technology (ACIT) Institute</li>
                  <li>Director, Testing, Evaluation, and Control of Heterogeneous Large-Scale Systems of Autonomous Vehicles (TECHLAV)</li>
                  <li>Email:homaifar@ncat.edu</li>
                  <a href="http://techlav.ncat.edu/" target="_blank">Visit Website
                    <div class="mask rgba-white-light"></div>
                  </a>
                  
                </ul>
                <a href="assets/slides/drhomaifarcv.pdf" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
          

        </div>
        <!--Grid column-->

        
 
      </div>
      <!--Grid row-->


   
    <!--Section: Content-->


    <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
        
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay people">
                  <img src="assets/images/team_members/Delaurentis.jpg" class="img-fluid people"
                    alt="">
                    <a href="https://engineering.purdue.edu/AAE/people/ptProfile?resource_id=1429" target="_blank">Read More
                      <div class="mask rgba-white-light"></div>
                    </a>
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <h3 class="font-weight-bold">Dan DeLaurentis, Ph.D.</h3>
                <h5 class="font-weight-bold"> Professor, Purdue University, (Campus PI, TC4 Lead)</h5>
      
                <p class="text-muted">
                    <ul>
                        <li>Chief Scientist- DoD Systems Engineering Research Center (SERC)</li>
                        <li>Director- Center for Integrated System in Aerospace (CISA)</li>
                        <li>Professor, Aeronautics and Astronautics</li>
                        <li>Email: ddelaure@purdue.edu</li>
                        
                    </ul>
                    <a href="https://engineering.purdue.edu/AAE/people/ptProfile?resource_id=1429" target="_blank">Read More
                      <div class="mask rgba-white-light"></div>
                    </a>
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
      
        <!--Section: Content-->
    
    
      </div>


      <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
      
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay people">
                  <img src="assets/images/team_members/Costello2017.jpg" class="img-fluid people"
                    alt="">
                    <a href="https://ae.gatech.edu/people/mark-francis-costello" target="_blank">Read More
                      <div class="mask rgba-white-light"></div>
                    </a>
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <h3 class="font-weight-bold">Mark Costello,Ph.D.</h3>
                <h5 class="font-weight-bold"> Professor, Georgia Institute of Technology, (Campus PI, TC4 Co-Lead)</h5>
      
                <p class="text-muted">
                    <ul>
                        <li>William R.T. Oakes Professor</li>
                        <li>Chair, Daniel Guggenheim School of Aerospace Engineering</li>
                        <li>Founder & CEO, Earthly Dynamics Corporation</li>
                        <li>Founder, Persimia Corporation</li>
                        
                    </ul>
                    <a href="https://ae.gatech.edu/people/mark-francis-costello" target="_blank">Read More
                      <div class="mask rgba-white-light"></div>
                    </a>
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
       
        <!--Section: Content-->
    
    
      </div>
      <div class="container my-3 py-3">
        <!--Section: Content-->
       
      
          <!--Grid row-->
          <div class="row">
      
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
      
                <!--Image-->
                <div class="view overlay people">
                  <img src="assets/images/team_members/Inseok Hwang_pic.jpg" class="img-fluid people"
                    alt="">
                  <a href="https://engineering.purdue.edu/~ihwang/" target="_blank">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
      
              </div>
              <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
      
              <h3 class="font-weight-bold">Inseok Hwang, Ph.D.</h3>
              <h5 class="font-weight-bold"> Professor, Purdue University, (Co-PI, TC2 Lead) </h5>
              
      
              <p class="text-muted">
                  <ul>
                   
                      <li>School of Aeronautics and Astronautics, Purdue University</li>
                     
                  </ul>
                  <a href="https://engineering.purdue.edu/~ihwang/" target="_blank">
                    <div class="mask rgba-white-light"></div>Read More
                  </a>
              
      
            </div>
            <!--Grid column-->
      
            
      
          </div>
          <!--Grid row-->
      
      
        
        <!--Section: Content-->
      </div>




      <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
      
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay people">
                  <img src="assets/images/team_members/ali.jpg" class="img-fluid people"
                    alt="">
                  <a href="http://akarimod.info" target="_blank">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <h3 class="font-weight-bold">Ali Karimoddini, Ph.D.</h3>
               
                <h5 class="font-weight-bold"> Associate Professor, N.C. A&T, (Campus Co-PI, TC1 Lead, TC3 member) </h5>
      
                <p class="text-muted">
                    <ul>
                        <li>Director, NCDOT Center of Excellence on Advanced Transportation Systems</li> 
                           <li>Deputy Director, TECHLAV DoD Center of Excellence in Autonomy</li> 
                        
                    </ul>

                <a href="http://akarimod.info" target="_blank">
                    <div class="mask rgba-white-light"></div>Read More
                  </a>
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        
        <!--Section: Content-->
    
    
      </div>
      

      <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
       
      
          <!--Grid row-->
          <div class="row">
      
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
      
                <!--Image-->
                <div class="view overlay people">
                  <img src="assets/images/team_members/KellyHS2014Web.jpg" class="img-fluid people"
                    alt="">
                  <a href="https://www.ncat.edu/employee-bio.php?directoryID=1448486561" target="_blank">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
      
              </div>
              <!--Grid column-->
      
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
      
                <h3 class="font-weight-bold">John Kelly, Ph.D.</h3>
                <h5 class="font-weight-bold">Associate Professor, N.C. A&T, (Co-PI, Education & Outreach Lead)</h5>
      
                <p class="text-muted">
                    <ul>
                        <li>School of Electrical and Computer Engineering</li>
                        
                
                    </ul>
                    <a href="https://www.ncat.edu/employee-bio.php?directoryID=1448486561" target="_blank">
                      <div class="mask rgba-white-light"></div>Read More
                    </a>
              
      
            </div>
            <!--Grid column-->
      
            
      
          </div>
          <!--Grid row-->
      
      
       
        <!--Section: Content-->
      
        
      
      
      </div>





<div class="container my-3 py-3">
 
 
  <!--Section: Content-->
 

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay people">
            <img src="assets/images/team_members/Sun (1).jpg" class="img-fluid people"
              alt="">
            <a href="https://web.ics.purdue.edu/~dsun/" target="_blank">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-8 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Dengfeng Sun, Ph.D.</h3>
          <h5 class="font-weight-bold"> Associate Professor, Purdue University, (Co-PI, TC2 Co-Lead)</h5>

          <p class="text-muted">
              <ul>
                  <li>School of Aeronautics and Astronautics</li>
                  
              </ul>
              <a href="https://web.ics.purdue.edu/~dsun/" target="_blank">
                <div class="mask rgba-white-light"></div>Read More
              </a>

      </div>
      <!--Grid column-->

      

    </div>
    <!--Grid row-->


 
  <!--Section: Content-->


</div>


<div class="container my-3 py-3">
 
 
  <!--Section: Content-->
 

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-4 mb-4 mb-md-0">

          <!--Image-->
          <div class="view overlay peoples">
            <img src="assets\images\team_members\vam.jpg" class="img-fluid people"
              alt="">
            <a href="https://ae.gatech.edu/people/kyriakos-g-vamvoudakis-0" target="_blank">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

        </div>
        <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-8 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Kyriakos G. Vamvoudakis, Ph.D.</h3>
          <h5 class="font-weight-bold">Assistant Professor, Georgia Institute of Technology, (Co-PI, TC1 Co-Lead)</h5>

          <p class="text-muted">
              <ul>
                  <li>School of Aeronautics and Astronautics</li>
                  
              </ul>
              <a href="https://ae.gatech.edu/people/kyriakos-g-vamvoudakis-0" target="_blank">
                <div class="mask rgba-white-light"></div>Read More
              </a>

      </div>
      <!--Grid column-->

      

    </div>
    <!--Grid row-->


 
  <!--Section: Content-->


</div>



  <div class="container my-3 py-3">
 
 
    <!--Section: Content-->
    

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets\images\team_members\coogan.jpg" class="img-fluid people"
              alt="">
              <a href="http://www.coogan.ece.gatech.edu/">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Sam Coogan, Ph.D.</h3>
            <h5 class="font-weight-bold"> Assistant Professor,Georgia Institute of Technology, (Co-PI, TC3 Co-Lead)</h5>
  
            <p class="text-muted">
                <ul>
                    <li>School of Electrical and Computer Engineering</li>
                    <li>School of Civil and Environmental Engineering</li>
                    
            
                </ul>
                <a href="http://www.coogan.ece.gatech.edu/" target="_blank">
                  <div class="mask rgba-white-light"></div>Read More
                </a>

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    
    <!--Section: Content-->


  </div>


  <div class="container my-3 py-3">
 
 
    <!--Section: Content-->
   
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">
  
            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/goppert.jpg" class="img-fluid people"
                alt="">
              <a href="https://engineering.purdue.edu/AAE/people/Faculty/ptProfile?resource_id=37293" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">
  
            <h3 class="font-weight-bold">James Goppert, Ph.D.</h3>
            <h5 class="font-weight-bold">Visiting Assistant Professor, Purdue University, (Co-PI, Education & Outreach Co-Lead, TC3 member)</h5>
  
            <p class="text-muted">
                <ul>
                    <li>School of Aeronautics and Astronautics</li>
                    
                </ul>
                <a href="https://engineering.purdue.edu/AAE/people/Faculty/ptProfile?resource_id=37293" target="_blank">
                  <div class="mask rgba-white-light"></div>Read More
                </a>
  
        </div>
        <!--Grid column-->
  
        
  
      </div>
      <!--Grid row-->
  
  
   
    <!--Section: Content-->
  
  
  </div>



  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/team_members/Judy_Hoffman.jpg" class="img-fluid people"
                alt="">
              <a href="https://www.cc.gatech.edu/~judy" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Judy Hoffman, Ph.D.</h3>
            <h5 class="font-weight-bold"> Assistant Professor, Georgia Institute of Technology, (Co-PI, TC1 member)</h5>
  
            <p>
                <ul>
                    <li>Former Research Scientist,Facebook AI Research</li>

                    <li>Assistant Professor, School of Interactive Computing at Georgia Tech.</li>
                         <li>PhD from UC Berkeley,2016 in Electrical Enginering and Computer Science </li>
                         <li>Postdoctoral Researcher,UC Berkeley</li>
                         <li>Receipient,NSF Graduate Fellowship and Rosalie M. Stern Fellowship</li>
                </ul>
                <a href="https://www.cc.gatech.edu/~judy" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    
    <!--Section: Content-->

    


  </div>

  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="https://faculty.uml.edu/Ioannis_Raptis/Ioannis-Raptis.jpg" class="img-fluid people"
                alt="">
              <a href="http://ioannisraptis.info/" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Ioannis A. Raptis, Ph.D.</h3>
            <h5 class="font-weight-bold"> Assistant Professor, N.C. A&T, (Co-PI, TC1 member)</h5>
  
            <p>
                <ul>
                    
            
                </ul>

                <a href="http://ioannisraptis.info/" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


   
    <!--Section: Content-->

    


  </div>


  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="https://engineering.purdue.edu/ResourceDB/ResourceFiles/image233930" class="img-fluid people"
                alt="">
              <a href="https://engineering.purdue.edu/AIMS" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Shaoshuai Mou, Ph.D.</h3>
            <h5 class="font-weight-bold"> Assistant Professor, Purdue University, (Co-PI, TC1 and TC2 member)</h5>
  
            <p>
                <ul>
                  <li>School of Aeronautics and Astronautics</li>
                    <li>Collaboration with Industry especially with Northrop Grumman 
                      Corporation as well as NASA, AFRL and NSF for real-world engineering applications.</li>
                    
            
                </ul>
                <a href="https://engineering.purdue.edu/AIMS" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


  
    <!--Section: Content-->

   


  </div>


  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/mahmoudsmall.png" class="img-fluid people"
                alt="">
              <a href="http://mahmoudnabil.github.io/" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">M. Nabil Mahmoud, Ph.D.</h3>
            <h5 class="font-weight-bold"> Assistant Professor, N.C. A&T, (Co-PI, TC2 member)</h5>
  
            <p>
                <ul>
                   
            
                </ul>
                <a href="http://mahmoudnabil.github.io/" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


   
    <!--Section: Content-->

    


  </div>


  
  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/shamilanew.jpg" class="img-fluid people"
                alt="">
              
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Shamila Nateghi, Ph.D.</h3>
            <h5 class="font-weight-bold">Post-Doctoral Research Associate, N.C. A&T State University (TC3 & TC4 member)</h5>
  
            <p>
                <ul>
                   
            
                </ul>
               
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


   
    <!--Section: Content-->

    


  </div>


  
  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/Hanif.jpg" class="img-fluid people"
                alt="">
              <a href="http://mahmoudnabil.github.io/" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Hanif S. Hoseini, Ph.D.</h3>
            <h5 class="font-weight-bold">Research Engineer, Georgia Institute of Technology, (TC4 member)</h5>
  
            <p>
                <ul>
                   
            
                </ul>
               
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


   
    <!--Section: Content-->

    


  </div>

  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/yaya.jpg" class="img-fluid people"
                alt="">
             
                <a href="https://yahyakamalipour.com/" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
                
            
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Yahya Kamalipour, Ph.D.</h3>
            <h5 class="font-weight-bold"> Professor, N.C. A&T, (Co-PI, Education and Outreach member)</h5>
  
            <p>
                <ul>
                    <li>Founding director,Global Media Journals Network
                  
                    </li>

                    <li>Global communication, mass media, journalism, and mass communication.</li>
                    <li>President,Global Communication Association.</li>
            
                </ul>

                <a href="https://yahyakamalipour.com/" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    
    <!--Section: Content-->

    


  </div>


  <div class="container my-3 py-3">
   
   
    <!--Section: Content-->
   

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/Lori.PNG" class="img-fluid people"
                alt="">
              <a href="https://aerospace.gatech.edu/people/lori-skillings" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

            <h3 class="font-weight-bold">Ms. Lori Skillings</h3>
            <h5 class="font-weight-bold">Georgia Institute of Technology, ( Education & Outreach member)</h5>
  
            <p>
                <ul>
                   <li>Program Manager for the Georgia Space Grant Consortium</li>
            
                </ul>
                <a href="https://aerospace.gatech.edu/people/lori-skillings" target="_blank">Read More
                  <div class="mask rgba-white-light"></div>
                </a>
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


   
    <!--Section: Content-->

    


  </div>



  <div class="container my-3 py-3">
 
 
    <!--Section: Content-->
    

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-4 mb-4 mb-md-0">

            <!--Image-->
            <div class="view overlay peoples">
              <img src="assets/images/team_members/thumbnail_Paduano 2019.png" class="img-fluid people"
                alt="">
              <a href=" https://www.aurora.aero/innovation/" target="_blank">
                <div class="mask rgba-white-light"></div>
              </a>
            </div>
  
          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-8 mb-4 mb-md-0">

          <h3 class="font-weight-bold">James Paduano, Ph.D.</h3>
          <h5 class="font-weight-bold"> Aurora Flight Sciences, (Co-PI, TC4 member, TC1 Industry Champion)</h5>
          

          <p>
              <ul>
                  <li>Tech Area Lead for Autonomy at Aurora Flight Sciences</li>
                  
                 
              </ul>
              <a href=" https://www.aurora.aero/innovation/" target="_blank">Read More
                <div class="mask rgba-white-light"></div>
              </a>
          

        </div>
        <!--Grid column-->

        

      </div>
      <!--Grid row-->


    
    <!--Section: Content-->
  </div>


    <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
       
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay peoples">
                  <img src="https://focusbankers.com/wp-content/uploads/2014/05/Dr-Bruce-J-Holmes-100x140.jpg" class="img-fluid people"
                    alt="">
                  
                    <div class="mask rgba-white-light"></div>
                  
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <h3 class="font-weight-bold">Bruce J. Holmes, Ph.D.</h3>
                <h5 class="font-weight-bold"> Alaka’i Technologies, (Co-PI, TC4 member, TC3 Industry Champion)</h5>
      
                <p>
                    <ul>
                      <li>Chief, Flight Research Branch at NASA Langley</li>
                        <li>Founding team,NextGen</li>
                        <li>CSO, DayJet - the first per-seat, on-demand air carrier, inspired by NASA SATS</li>
                        <li>Vice President,Digital Aviation at 
                          SmartSky Networks</li>
                          <li>Leader, the NASA AGATE Alliance, and NASA Small Aircraft Transportation System (SATS) public-private partnership for airspace management</li>
                    </ul>
              
    
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        
        <!--Section: Content-->
    
    
      </div>


      <div class="container my-3 py-3">
 
 
        <!--Section: Content-->
       
    
          <!--Grid row-->
          <div class="row">
    
            <!--Grid column-->
            <div class="col-md-4 mb-4 mb-md-0">
    
                <!--Image-->
                <div class="view overlay peoples">
                  <img src="assets/images/team_members/Neta Ezer.jpg" class="img-fluid people"
                    alt="">
                  <a href="https://www.northropgrumman.com/" target="_blank">
                    <div class="mask rgba-white-light"></div>
                  </a>
                </div>
      
              </div>
              <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-8 mb-4 mb-md-0">
    
                <h3 class="font-weight-bold">Neta Ezer, Ph.D.</h3>
                <h5 class="font-weight-bold"> AI Architect,Northrop Grumman Corporation, (Co-PI, TC4 member, TC2 Industry Champion)</h5>
      
                <p>
                    <ul>
                        <li>Architect for Human-Machine Teaming,Northrop Grumman Mission Systems </li>
                       
                        <li>Technology research and development, Collaboration between human and artificial intelligence (AI) agents</li>
                        
                       
                
                    </ul>
              
                    <a href="https://www.northropgrumman.com/" target="_blank">Read More
                      <div class="mask rgba-white-light"></div>
                    </a>
            </div>
            <!--Grid column-->
    
            
    
          </div>
          <!--Grid row-->
    
    
        
        <!--Section: Content-->
    
    
      </div>


      

    
    <div class="container my-2 py-2">
 
 
      <!--Section: Content-->
    
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          <div class="col-md-4 mb-4 mb-md-0">
  
              <!--Image-->
              <div class="view overlay peoples">
                <img src="assets/images/photo.jpg" class="img-fluid people"
                  alt="">
                
                  <div class="mask rgba-white-light"></div>
                
              </div>
    
            </div>
            <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-8 mb-4 mb-md-0">
  
              <h3 class="font-weight-bold">Seyed Mehran Dibaji, Ph.D.</h3>
              <h5 class="font-weight-bold"> Autonomy Engineer, Aurora Flight Sciences, (TC4 member, TC1 Industry Champion)</h5>
    
              <p>
                  <ul>
                      <li>Research and Engineering in ML, Cybersecurity, and Controls</li>
                      <li>AIAA senior member and IEEE Control Systems Society Associate Editor</li>
                  </ul>
  
            
  
          </div>
          <!--Grid column-->
  
          
  
        </div>
        <!--Grid row-->
  
  
      
      <!--Section: Content-->

      
  </div>
  
    



















  </div>
  </div>