<div class="container mb-2 pb-2">
  <h1 class="font-weight-bold">Management Structure</h1>
</div>



<!-- Jumbotron -->
<div class="container z-depth-1 py-3">

   
  
  <!-- Card image -->
  <div class="view overlay">
    <img src="assets/images/managment.png" class="img-fluid cent" alt="">
   
  </div>

  

</div>
<!-- Jumbotron -->
<div class="container my-4 py-4">
  <ul>
    <li><a routerLink="/people">Research Team
      
    </a></li>
    <li><a routerLink="/scientific">Scientific Advisory Board
      
    </a></li>
    <li><a routerLink="/industry">Industry Advisory Board
      
    </a></li>
    

  </ul>
  
</div>

