
  <div class="container my-3 py-3 text-left">
   <h1 class="font-weight-bold">Student Leadership Council</h1>
  </div>

 


  <div class="container my-4 py-4 z-depth-1">
   
   
      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
  
        <!--Grid row-->
        <div class="row">
  
          <!--Grid column-->
          
  
          <!--Grid column-->
          <div class="col-md-12 mb-4 mb-md-0">
             
  
           
           
  
            <p class="text-justify">
              
              The Student Leadership Council (SLC) will consist of undergraduate and graduate students selected from each of the 
              participating departments and institutions. The SLC will actively bridge leadership team to the 
              student body of the center, practice leadership skills by participation in organizing annual meetings and monthly seminars.
              <p>More information will be provided soon.  
            </p>
            
  
          </div>
          <!--Grid column-->
  
          
  
        </div>
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
  
  </div>
  <div class="space"></div>










